@media (min-width: 1200px){
    body{
        background-color: aqua;
    }

    .nav{
        /* display: flex;
        justify-content: space-between; */
    }

    .list{
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
}