article{
    display: flex;
    text-align: center;
    color: beige;
}

div{
    border: 12px;
    border-radius: 12px;
    margin: 12px;
    padding: 20px;
    width: 20%;
}

.a{
    background-color: rgb(41, 201, 255);
    
}

.b{
    background-color: deepskyblue;
}

.c{
    background-color: dodgerblue;
}

.d{
    background-color: rgb(32, 125, 219);
}

.r{
    flex-direction: column;
    align-items: center;
    align-items: flex-end;
}